---
http_interactions:
- request:
    method: post
    uri: https://api.careerbuilder.com/talentnetwork/member/create/json?developerkey=WDHH6P96RQD9FSDCZ0G7&outputjson=true
    body:
      encoding: US-ASCII
      string: <Request><DeveloperKey>WDHH6P96RQD9FSDCZ0G7</DeveloperKey><TalentNetworkDID>CB000000000000000001</TalentNetworkDID><PreferredLanguage>USEnglish</PreferredLanguage><AcceptPrivacy>true</AcceptPrivacy><AcceptTerms>true</AcceptTerms><ResumeWordDoc></ResumeWordDoc><JoinValues><JoinValue><Key>MxDOTalentNetworkMemberInfo_EmailAddress</Key><Value>niche_1_test@test.com</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_FirstName</Key><Value>Niche1</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_LastName</Key><Value>Tester1</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_ZipCode</Key><Value>30092</Value></JoinValue><JoinValue><Key>JQJBF32R79L0SH6H3K2D</Key><Value>Software
        Enginner</Value></JoinValue><JoinValue><Key>ddlCountries</Key><Value>us</Value></JoinValue></JoinValues></Request>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pby:
      - REBEL38
    body:
      encoding: US-ASCII
      string: ! '{"Errors":["EmailInUse"],"MemberDID":"TMX969N70XM549ZWSGT7"}'
  recorded_at: Tue, 20 Aug 2013 20:18:19 GMT
- request:
    method: get
    uri: http://api.careerbuilder.com/talentnetwork/member/create/json?developerkey=WDHH6P96RQD9FSDCZ0G7&outputjson=true
    body:
      encoding: US-ASCII
      string: <Request><DeveloperKey>WDHH6P96RQD9FSDCZ0G7</DeveloperKey><TalentNetworkDID>CB000000000000000001</TalentNetworkDID><PreferredLanguage>USEnglish</PreferredLanguage><AcceptPrivacy>true</AcceptPrivacy><AcceptTerms>true</AcceptTerms><ResumeWordDoc></ResumeWordDoc><JoinValues><JoinValue><Key>MxDOTalentNetworkMemberInfo_EmailAddress</Key><Value>niche_1_test@test.com</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_FirstName</Key><Value>Niche1</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_LastName</Key><Value>Tester1</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_ZipCode</Key><Value>30092</Value></JoinValue><JoinValue><Key>JQJBF32R79L0SH6H3K2D</Key><Value>Software
        Enginner</Value></JoinValue><JoinValue><Key>ddlCountries</Key><Value>us</Value></JoinValue></JoinValues></Request>
    headers: {}
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /Error.aspx?aspxerrorpath=/talentnetwork/member/create/json
      X-Pby:
      - REBEL13
    body:
      encoding: US-ASCII
      string: ! "<html><head><title>Object moved</title></head><body>\r\n<h2>Object
        moved to <a href=\"/Error.aspx?aspxerrorpath=/talentnetwork/member/create/json\">here</a>.</h2>\r\n</body></html>\r\n"
  recorded_at: Thu, 22 Aug 2013 14:39:41 GMT
- request:
    method: get
    uri: http://api.careerbuilder.com/Error.aspx?aspxerrorpath=/talentnetwork/member/create/json
    body:
      encoding: US-ASCII
      string: <Request><DeveloperKey>WDHH6P96RQD9FSDCZ0G7</DeveloperKey><TalentNetworkDID>CB000000000000000001</TalentNetworkDID><PreferredLanguage>USEnglish</PreferredLanguage><AcceptPrivacy>true</AcceptPrivacy><AcceptTerms>true</AcceptTerms><ResumeWordDoc></ResumeWordDoc><JoinValues><JoinValue><Key>MxDOTalentNetworkMemberInfo_EmailAddress</Key><Value>niche_1_test@test.com</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_FirstName</Key><Value>Niche1</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_LastName</Key><Value>Tester1</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_ZipCode</Key><Value>30092</Value></JoinValue><JoinValue><Key>JQJBF32R79L0SH6H3K2D</Key><Value>Software
        Enginner</Value></JoinValue><JoinValue><Key>ddlCountries</Key><Value>us</Value></JoinValue></JoinValues></Request>
    headers: {}
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /404.aspx
      X-Pby:
      - REBEL38
    body:
      encoding: US-ASCII
      string: ! "<html><head><title>Object moved</title></head><body>\r\n<h2>Object
        moved to <a href=\"/404.aspx\">here</a>.</h2>\r\n</body></html>\r\n"
  recorded_at: Thu, 22 Aug 2013 14:39:41 GMT
- request:
    method: get
    uri: http://api.careerbuilder.com/404.aspx
    body:
      encoding: US-ASCII
      string: <Request><DeveloperKey>WDHH6P96RQD9FSDCZ0G7</DeveloperKey><TalentNetworkDID>CB000000000000000001</TalentNetworkDID><PreferredLanguage>USEnglish</PreferredLanguage><AcceptPrivacy>true</AcceptPrivacy><AcceptTerms>true</AcceptTerms><ResumeWordDoc></ResumeWordDoc><JoinValues><JoinValue><Key>MxDOTalentNetworkMemberInfo_EmailAddress</Key><Value>niche_1_test@test.com</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_FirstName</Key><Value>Niche1</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_LastName</Key><Value>Tester1</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_ZipCode</Key><Value>30092</Value></JoinValue><JoinValue><Key>JQJBF32R79L0SH6H3K2D</Key><Value>Software
        Enginner</Value></JoinValue><JoinValue><Key>ddlCountries</Key><Value>us</Value></JoinValue></JoinValues></Request>
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Pby:
      - REBEL43
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<Response>\r\n  <Errors>\r\n
        \   <Error>Invalid Page Request</Error>\r\n  </Errors>\r\n  <TimeResponseSent>8/22/2013
        10:39:40 AM</TimeResponseSent>\r\n</Response>"
  recorded_at: Thu, 22 Aug 2013 14:39:43 GMT
[...]
- request:
    method: post
    uri: https://api.careerbuilder.com/talentnetwork/member/create/json?developerkey=&outputjson=true
    body:
      encoding: US-ASCII
      string: <Request><DeveloperKey></DeveloperKey><TalentNetworkDID>CB000000000000000001</TalentNetworkDID><PreferredLanguage>USEnglish</PreferredLanguage><AcceptPrivacy>true</AcceptPrivacy><AcceptTerms>true</AcceptTerms><ResumeWordDoc></ResumeWordDoc><JoinValues><JoinValue><Key>MxDOTalentNetworkMemberInfo_EmailAddress</Key><Value>[...]
