---
http_interactions:
- request:
    method: post
    uri: https://api.careerbuilder.com/talentnetwork/member/create/json?developerkey=WDHH6P96RQD9FSDCZ0G7&outputjson=true
    body:
      encoding: US-ASCII
      string: <Request><DeveloperKey>WDHH6P96RQD9FSDCZ0G7</DeveloperKey><TalentNetworkDID>CB000000000000000001</TalentNetworkDID><PreferredLanguage>USEnglish</PreferredLanguage><AcceptPrivacy>true</AcceptPrivacy><AcceptTerms>true</AcceptTerms><ResumeWordDoc></ResumeWordDoc><JoinValues><JoinValue><Key>MxDOTalentNetworkMemberInfo_EmailAddress</Key><Value>niche_1_test@test.com</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_FirstName</Key><Value>Niche1</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_LastName</Key><Value>Tester1</Value></JoinValue><JoinValue><Key>MxDOTalentNetworkMemberInfo_ZipCode</Key><Value>30092</Value></JoinValue><JoinValue><Key>JQJBF32R79L0SH6H3K2D</Key><Value>Software
        Enginner</Value></JoinValue><JoinValue><Key>ddlCountries</Key><Value>us</Value></JoinValue></JoinValues></Request>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pby:
      - REBEL38
    body:
      encoding: US-ASCII
      string: ! '{"Errors":["EmailInUse"],"MemberDID":"TMX969N70XM549ZWSGT7"}'
  recorded_at: Tue, 20 Aug 2013 20:18:19 GMT
recorded_with: VCR 2.4.0
